.header {
  background-color: var(--white-text);
  border-bottom: 1px solid var(--border-head);
}

.container {
  //   width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.navigation {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }

  .current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-text);
  }
}

.menu__link {
  padding: 32px 0;
  transition: color 250ms var(--cubic);

  &:focus,
  &:hover {
    color: var(--blue-text);
  }
}

.menu {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__social {
  color: var(--blue-text);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.main-nav__social--indent:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 1199px) {
  .main-nav__social {
    display: none;
  }

  .contacts {
    display: flex;

  }

  .contacts__item {

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .function {
    display: none;
  }

}

.contacts__icon {
  //   margin-right: 0px;
  transition: fill 250ms var(--cubic);

  &:hover,
  &:focus {
    fill: var(--blue-text);
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--blue-text);
  }
}

.current {
  position: relative;
  color: var(--blue-text);
}
