.header {
  background-color: var(--white-text);
  border-bottom: 1px solid var(--border-head);
}

.container {
  //   width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.navigation {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0px;
}

.contacts {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
  }
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__social {
  color: var(--blue-text);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.main-nav__social--indent:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 1200px) {
  .main-nav__social {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .function {
    display: none;
  }
}

.contacts__icon {
  //   margin-right: 0px;
  transition: fill 250ms var(--cubic);

  &:hover,
  &:focus {
    fill: var(--blue-text);
  }
}

.contacts__link {
  //   display: flex;
  //   align-items: center;
  //   padding: 32px 0;
}

.current {
  color: var(--blue-text);
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
