:root {
  --white-text: rgba(255, 255, 255, 1);
  --white-network: rgba(255, 255, 255, 1);
  --wite-text-op06: rgba(255, 255, 255, 0.6);
  --wite-text-op01: rgba(255, 255, 255, 0.1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --back-graphit: rgba(47, 48, 58, 1);
  --lite-grey-color: rgba(245, 244, 250, 1);
  --border-projects: rgba(238, 238, 238, 1);
  --border-head: rgba(236, 236, 236, 1);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --workers-icon: rgba(175, 177, 184, 1);
  --hero: rgba(47, 48, 58, 0.4);
  --projects-bg: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --border-close: rgba(0, 0, 0, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --border-input: rgba(255, 255, 255, 0.3);
}
